# Esame Data Science - a.a. 2022/2023

Di seguitono sono proposti gli esercizi per la prova d'esame.
Per presentarsi all'esame è necessario aver implementato una soluzione per tutti i punti elencati.

1. [Analisi descrittiva](#esercizio1)
2. [Classificazione](#esercizio2)
3. [Rete neurale custom](#esercizio3)

<a id="esercizio1"></a>
## Analisi descrittiva

Partendo dal dataset `data/german.data` effettuare una analisi descrittiva dei dati in esso contenuti.

Il dataset contiene dei dati rispetto a crediti realizzati in Germania e ha 1000 record.
Il dataset ha 20 attributi (7 numerici e 13 categorici) qui descritti:

**Attributo 1: (qualitativo)**
Stato del conto corrente esistente
- A11 : ... < 0 DM
- A12 : 0 <= ... < 200 DM
- A13 : ... >= 200 DM / assegnazioni di stipendio per almeno 1 anno
- A14 : nessun conto corrente

**Attributo 2: (numerico)**
Durata in mesi

**Attributo 3: (qualitativo)**
Storia del credito
- A30 : nessun credito preso/tutti i crediti rimborsati debitamente
- A31 : tutti i crediti presso questa banca rimborsati debitamente
- A32 : crediti esistenti regolarmente rimborsati fino ad ora
- A33 : ritardo nel pagamento in passato
- A34 : conto critico/ altri crediti esistenti (non presso questa banca)

**Attributo 4: (qualitativo)**
Scopo della richiesta di creidto
- A40 : auto (nuova)
- A41 : auto (usata)
- A42 : mobili/attrezzature
- A43 : radio/televisione
- A44 : elettrodomestici
- A45 : riparazioni
- A46 : educazione
- A47 : (vacanze - non esiste?)
- A48 : riqualificazione
- A49 : affari
- A410 : altri

**Attributo 5: (numerico)**
Ammontare del credito

**Attributo 6: (qualitativo)**
Conto di risparmio/obbligazioni
- R61 : ... < 100 Marchi
- A62 : 100 <= ... < 500 DM
- A63 : 500 <= ... < 1000 DM
- A64 : .. >= 1000 DM
- A65 : sconosciuto/ nessun conto di risparmio

**Attributo 7: (qualitativo)**
Occupazione attuale
- A71: disoccupato
- R72 : ... < 1 anno
- A73 : 1 <= ... < 4 anni
- A74 : 4 <= ... < 7 anni
- A75 : .. >= 7 anni

**Attributo 8: (numerico)**
Tasso di rata in percentuale del reddito disponibile

**Attributo 9: (qualitativo)**
Stato personale e sesso
- A91 : maschio : divorziato/separato
- A92 : femmina : divorziata/separata/sposata
- A93 : maschio : singolo
- A94 : maschio : sposato/vedovo
- A95 : femmina : single

**Attributo 10: (qualitativo)**
Altri debitori/garanti
- A101 : nessuno
- A102 : co-candidato
- A103 : garante

**Attributo 11: (numerico)**
Attuale residenza da allora

**Attributo 12: (qualitativo)**
Proprietà
- A121 : immobiliare
- A122 : se non A121 : contratto di risparmio della società di costruzione/ assicurazione sulla vita
- A123 : se non A121/A122 : automobile o altro, non nell'attributo 6
- A124 : sconosciuto / nessuna proprietà

**Attributo 13: (numerico)**
Età in anni

**Attributo 14: (qualitativo)**
Altri piani di rateizzazione
- A141 : banca
- A142 : negozi
- A143 : nessuno

**Attributo 15: (qualitativo)**
Abitazione
- A151 : affitto
- A152 : proprio
- A153 : gratis

**Attributo 16: (numerico)**
Numero di crediti esistenti presso questa banca

**Attributo 17: (qualitativo)**
Lavoro
- A171 : disoccupato/non qualificato - non residente
- A172 : non qualificato - residente
- A173 : impiegato/funzionario qualificato
- A174 : dirigente/ lavoratore autonomo/ impiegato/funzionario altamente qualificato

**Attributo 18: (numerico)**
Numero di persone tenute a provvedere al mantenimento

**Attributo 19: (qualitativo)**
Telefono
- A191 : nessuno
- A192 : sì, registrato a nome del cliente

**Attributo 20: (qualitativo)**
lavoratore straniero
- A201 : sì
- A202 : no

**Attributo 21: (label)**
Classificazione del credito
- 1 : buono
- 2 : cattivo

Si richiede di leggere il dataset, verificare la pulizia e completezza dei dati e quindi effettuare le analisi descrittive necessarie a meglio comprendere il contenuto del file di dati.

In [1]:
import pandas as pd

In [9]:
data = pd.read_csv("data/german.data", sep=" ", header=None)
data.columns = data.columns + 1
data.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [10]:
data.shape

(1000, 21)

<a id="esercizio2"></a>
## Classificazione

Partendo dal dataset precedentemente analizzato e ripulito, in questa parte d'esercizio vi viene richiesto di eseguire una clasificazione del dataset.

L'ultima colonna (**Attributo 21**) contiene la label che il modello deve imparare ad apprendere.

Viene richiesto di utilizzare diversi modelli di clusterizzazione, praparare i dati e le feature per il loro utilizzo e quindi effettuare la previsione. Viene chiesto di valutare la bontà della previsione del modello e di commentare la sua capacità di apprendimento.

Avendo utilizzato diversi modelli, viene inoltre richiesto di confrontare i risultati dei diversi modelli utilizzati e di commentare quale sia, a vostro giudizio, il modello preferibile.

<a id="esercizio3"></a>
## Rete neurale custom

Si richiede di provare a careare una rete neurale con Tensorflow o PyTorch che apprenda a effettuare la clusterizzazione realizata nel punto precedente.

Commentare l'apprendiamento realizzato dalla rete e la qualità dei risultati della sua classificazione. Confrontare quindi i risultati della classificazione realizzata con questa rete custom con quelli ottenuti dai modelli descritti nel punto precedente.